/*
!/.config
!/.gitignore
!/custom-scripts/
!/modules/

!/apps/
/apps/banner/

/custom-scripts/*
!/custom-scripts/network-config
!/custom-scripts/pre-build.sh
!/custom-scripts/qemu-ifup

/modules/*
!/modules/pubsub/
/modules/pubsub/*
!/modules/pubsub/Makefile
!/modules/pubsub/pubsub.c

!/README
